.root{
    -fx-background-image: url("/Images/friends.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 960 680;
    -fx-background-position: center center;
    //-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

Button {
    -fx-text-fill: black;
    -fx-font-family: 'myFirstFont',Serif;
    /*-fx-background-radius: 100;*/
    -fx-font-size: 16;
    -fx-border-color:transparent;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#D2C385, lemonchiffon);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 100;

}

@font-face {
    font-family: 'myFirstFont';
    src: url('Music/GABRWFFR.TTF');
    font-weight: bold;
}
Label {

    -fx-font-family: 'myFirstFont',Serif;
    -fx-font-weight: bold;
    -fx-font-size: 18;

}
Button:hover{

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: #e8fffc;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}


MenuButton{
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P",Serif;
    -fx-font-weight: bold;
    -fx-border-color:black;
    -fx-background-color: lemonchiffon;
}

#numOfT{
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P";
    -fx-font-weight: bold;
    -fx-border-color:black;
    -fx-background-color: lemonchiffon;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view
{

    -fx-background-color: white;
    -fx-text-fill: black;
}
.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: lemonchiffon;
    -fx-text-fill: black;

    /*-fx-text-fill: -fx-text-inner-color;*/
}

