.root{


    -fx-background-image: url("/Images/home.png");
    -fx-background-repeat: repeat;
    -fx-background-position: right;
    -fx-background-size: 960 680;


}

@font-face {
    font-family: 'myFirstFont';
    src: url("Music/GABRWFFR.TTF");
    font-weight: bold;
}

Label {

    -fx-text-fill: black;
    -fx-font-family: 'myFirstFont',Serif;
    -fx-font-weight: bold;
    -fx-font-size: 12;

}


Button {
    -fx-text-fill: black;
    -fx-font-family: 'Press Start 2P',Serif;
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#9C8CD4, lavender);*/
    -fx-background-color: linear-gradient(#D2C385, lemonchiffon);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button#mute{
    -fx-background-radius: 100;
    -fx-background-color: transparent;
}
Button#logo{
    -fx-background-color: transparent;

}
Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}